h1{
    text-align: center;
    color: rgb(220, 220, 220);
    margin-bottom: 100px;
}
button{
    padding: 12px 20px;
    background-color: cadetblue;
    color: white;
    border: none;
}
.selecionar{
    margin-left: 10px;
    border-radius: 5px;
    font-weight: bold;
}
.texto{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

body {
    font: normal 15pt arial;
}
header {
    color: white;
    text-align: center;
}
section {
    background: #3695ff;
    border-radius: 20px;
    padding: 13px;
    width: 90%;
    margin: auto;
}
select {
    background: rgb(220, 220, 220);
    border-radius: 20px;
    padding: 12px;
    width: 100%;
    margin: auto;
    box-shadow:4px 4px 9px rgba(0,0,0,0.363);
}
